<footer class="page-footer blue-grey darken-2">
  <div class="footer-copyright">
    <div class="container">
	    <div class="row">
			<div class="col s4 left">
				<p>© 2017 RT Design</p>
			</div>
			<div class="col s4 center">
				<p>Socials</p>
			</div>
			<div class="col s4">
				<p><a class="grey-text text-lighten-4 right" href="#!">More Links</a><br>
				<%= link_to "About Link", about_path, class: "grey-text text-lighten-4 right" %>
				</p> 
			</div>
		</div>
    </div>
  </div>
</footer>